
.topbar {
	width: 100vw;
	height: 80px;
	display: flex;
	align-items: center;
	background-color: #333333;
	color: white;
	padding: 0 32px;
	justify-content: space-between;
}

.topbar-left {
	display: flex;
	align-items: center;
	gap: 32px;
}

.topbar-title {
	font-size: 2rem;
	font-weight: bold;
	text-align: left;
	color: orange;
	margin-bottom: 9px;
}

.topbar-links {
	display: flex;
	gap: 24px;
	font-size: 1.1rem;
}

.topbar-links a {
	color: #fff;
	text-decoration: none;
	transition: color 0.2s;
}

.topbar-links a:hover {
	color: #ffcc00;
}

.topbar-home {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	min-width: 60px;
}
